{
  "ecmaFeatures": {
    "es6": true,
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": [
    "guyellis",
    "guyellis/es6",
    "guyellis/react"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-underscore-dangle": 0
  }
}