{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": [
     "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "security"
  ],
  "rules": {
    "no-underscore-dangle": 0,
    "no-shadow": [2, {"allow": [
      "Location"
    ]}]
  }
}
