#hero {
  height: 100vh;
  margin-top: -20px;
  width: 100%;
}

.home-header, .home-subheader {
  color: white;
  line-height: 3em;
  text-align: center;
}

.home-header {
  font-size: xx-large;
  margin-top: 50px;
}

.home-subheader {
  font-size: x-large;
}

.home-subheader a{
  /*text-transform: uppercase;*/
  color: white;
  font-size: xx-large;
  
}

.plant-item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
};

/* Seems redundant but won't work unless there are 2 declared */
.plant-item {
}

.plant-item {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: table; /* Allow display: table-cell on inner anchor to allow anchor to fill area*/
  height: 100px;
  margin: 15px 0px 0px 15px ;
  width: 100px;
}

.plant-item a {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
}


.plant-item:hover {
  border: 2px solid lightgrey;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);;
}

.plant-item a {
  border-radius: 5px;
  box-sizing: content-box;
  display: table-cell;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.plant-item a img {
  height: auto;
  max-width: 100px;
  width: 100%;
}

.plant-item a div {
  font-size: large;
  text-align: center;
}

.home-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-input-combo {
  padding: 10px 20px 10px 20px;
}

.title-input-combo > label {
  font-size: large;
}

.title-input-combo > input {
  font-size: large;
}

.addFirstClassBtn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.addFirstClassBtn > a {
  font-size: xx-large;
}

html {
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url('/img/apple-tree.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
}

/*.page {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -20px;
  width: 100%;
}*/

#main {
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  height: 100vh;
  margin-top: -20px;
}

.plant {
  margin-left: 10px;
}

.plant h2 {
  width: 100%;
  margin-bottom: 5px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.plant h2 a {
  /*vertical-align: middle;*/
}

.delete {
  margin-right: 10px;
}
.delete button {
  margin-left: 10px;
}

.center-div {
  margin-right: auto;
  margin-left: auto;
}
