@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  font-family: 'Roboto', sans-serif;
}

#hero {
  height: 100vh;
  margin-top: -20px;
  width: 100%;
}

.home-header,
.home-subheader {
  line-height: 3em;
  text-align: center;
}

.home-header {
  font-size: xx-large;
  line-height: 1.2em;
  margin-bottom: 50px;
  margin-top: 100px;
}

.home-subheader {
  font-size: x-large;
}

.home-subheader a {
  font-size: xx-large;
}

.plant-item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.plant-item {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: table; /* Allow display: table-cell on inner anchor to allow anchor to fill area */
  height: 100px;
  margin: 15px 0 0 15px;
  width: 100px;
}

.plant-item a {
  background-color: rgba(255, 255, 255, 0.3);
}

.plant-item:hover {
  border: 2px solid lightgrey;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plant-item a {
  border-radius: 5px;
  box-sizing: content-box;
  display: table-cell;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.plant-item a img {
  height: auto;
  max-width: 100px;
  width: 100%;
}

.plant-item a div {
  font-size: large;
  text-align: center;
}

.home-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-input-combo {
  padding: 10px 20px;
}

.title-input-combo > label {
  font-size: large;
}

.title-input-combo > input {
  font-size: large;
}

.addFirstClassBtn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.addFirstClassBtn > a {
  font-size: xx-large;
}

html {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}

#main {
  margin: 0 40px 0 auto;
}

.plant {
  margin-left: 10px;
}

.plant h2 {
  margin-bottom: 5px;
  width: 100%;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
}

.delete {
  margin-right: 10px;
}

.delete button {
  margin-left: 10px;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
}

/* Sticky Footer */

html,
body {
  height: 100%;
}

.clear {
  clear: both;
}

.wrapper {
  height: 100%;
  min-height: 100%;
}

.page {
  min-height: 100%;
}

.react-root {
  height: 100%;
  min-height: 100%;
}

.page {
  padding-bottom: 50px;
  position: relative;
}

footer {
  bottom: 0;
  height: 50px;
  left: 0;
  position: absolute;
  width: 100%;
}
